.Container-fluid {
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    margin: 1em;
    padding: 1em;
    text-align: left;
    /* margin-left: 100px; */
  }
  
  .form {
    padding: 1em;
  }
  
  label {
    font-weight: 600;
  }

  a{
    cursor: pointer;
  }


